.feed {
    width: 930px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.feed-posts {
    width: 600px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.feed-sidebar {
    margin: 0 0 0 28px;
}

@media screen and (max-width: 1000px) {
    .feed {
        justify-content: center;
    }
    .feed-sidebar {
        display: none;
    }
}